<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/public/asset/js/jquery-3.4.1.min.js"></script>
</head>
<body>

{% block content %}{% endblock %}

</body>





</html>